{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% if system_setup.HeadTitle %}{{ system_setup.HeadTitle }}{% else %}IOTOS SaaS{% endif %}</title>

    <!-- 页面基本设置禁止随意更改 -->
    <meta charset="utf-8">
    <meta name="author" content="forework">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <!-- 页面基本设置禁止随意更改 -->
    <!-- 基础CSS类库可随意更改 -->
    <link rel="stylesheet" type="text/css" href="/static/dist/css/less.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/css/basic.css">
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/ie8.css">
    <![endif]-->
    <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/ie.css">
    <![endif]-->

    <!--&lt;!&ndash; Bootstrap 3.3.6 &ndash;&gt;-->
    <!--<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">-->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static 'dist/css/myself.css' %}">

</head>
<body>
<div class="wrapper" style="background-color: white;">
    <div class="login-top">
        <div style="height: 60px;background-color: white;">
            <div style="margin-left: 160px;">
                <img style="width: 350px" src="/static/dist/img/log_1.jpg"/ >
            </div>
            <div style="float:right;margin-top: -34px;width: 360px;font-size: 12px;">
                <span>登录帮助</span>
                <span>|</span>
                <span>在线答疑</span>
                <span>|</span>
                <span>关于</span>
            </div>
        </div>

        {% block user-content %}

        {% endblock %}

    </div>
    <div class="loginCen" style="margin-top: 55px;">
        <div class="login-center">
            <div class="loginCenter-moudle">
                <div class="loginCenter-moudleLeft" style="margin-right: 60px;"> &nbsp;</div>
                <div class="loginCenter-moudleRight" style="  width: 1067px;">
                    <!--第一个-->
                    <a class="loginCenter-mStyle loginCenter-moudle1" id="moudleRemove"
                       style=" display:block;width: 340px;">
                        <span class="moudle-img"><img src="/static/dist/img/login_bg_01.png"></span>
                        <span class="moudle-text">
            <span class="moudle-text1" style="font-family:'微软雅黑'">一体化集成管理</span>
            <span class="moudle-text2" style="font-family:'微软雅黑'">Integrated management</span>
            </span>
                    </a>
                    <!--第二个-->
                    <a class="loginCenter-mStyle loginCenter-moudle2" style=" display:block; width: 357px;"
                       id="moudleRemove2">
                        <span class="moudle-img"><img src="/static/dist/img/login_bg_02.png"></span>
                        <span class="moudle-text">
            <span class="moudle-text1" style="font-family:'微软雅黑'"> 精细化物业办公</span>
            <span class="moudle-text2" style="font-family:'微软雅黑'">Fine property office</span>
           </span>
                    </a>
                    <!--第三个-->
                    <a class="loginCenter-mStyle loginCenter-moudle3" style=" display:block;" id="moudleRemove3">
                        <span class="moudle-img"><img src="/static/dist/img/login_bg_03.png"></span>
                        <span class="moudle-text">
                 <span class="moudle-text"> <span class="moudle-text1" style="font-family:'微软雅黑'">独立化场景应用</span>
                  <span class="moudle-text2" style="font-family:'微软雅黑'">Independent scene application</span>
            </span>
            </span>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="footer"><span class="footerText">Copyright © 2019-2020 爱投斯智能技术（深圳）有限公司  粤ICP备：18072544号</span></div>
</div>

<!-- jQuery 2.2.3 -->
<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- iCheck -->
{% block script %}

{% endblock %}
</body>
</html>